---
---
  
.page-header {
  background-color: white !important;
  background-image: url('../img/logo.png') !important;
  background-size: auto;
  background-position: center;
}

@import "{{ site.theme }}"
